<nav class="back-sky-blue navbar navbar-default no-margin"
     role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle no-responsive" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand color-white" href="/">Blog</a>
        </div>
        <div class="collapse navbar-collapse no-padding">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated and request.user.is_staff and not request.user.is_superuser %}
                <li>
                    <a href="{% url 'add_article' %}">Crear artículo</a>
                </li>
                {% endif %}
                <li class="dropdown">
                    <button type="button"
                            data-toggle="dropdown"
                            class="dropdown-toggle back-white navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'contact_us' %}">Contáctanos</a></li>
                        <li><a href="{% url 'about_team' %}">El equipo</a></li>
                        <li><a href="{% url 'about_us' %}">Acerca de blog</a></li>
                        <li><a href="{% url 'terms_conditions' %}">Términos y Condiciones</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>