{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="well well-sm">
            <h3><a href="{% url 'home' %}"><i class="fa fa-2x fa-angle-left"></i></a>
                <b>Lista de Marcas</b></h3>
        </div>
        <div id="brands" class="row list-group">
            {% for brand in brands %}
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <a href="{% url 'list_product' brand.id %}">
                            <img class="group img-responsive list-group-image"
                             width="200"
                             height="200"
                             src="{{ MEDIA_URL }}{{ brand.logo }}"
                             alt="" />
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
